.add-option-error {
    color: $off-black;
    font-style: italic;
    font-size: 1.5rem;
    margin: $m-size 0 0 0;
    padding: 0 $m-size;
    text-align: center;
}

.add-option {
    display:flex;
    flex-direction: column;
    padding: $m-size;

}

.add-option__input {
    background-color: $dark-green;
    border: none;
    color: $green;
    border: .1rem solid $off-black;
    flex-grow: 1;
    margin: 0 0 $s-size 0;
    padding: $s-size;
}

@media (min-width: $desktop-breakpoint) {
    .add-option {
        flex-direction: row;
    }
    .add-option__input {
        margin: 0 $s-size 0 0;
    }
}