// colors
$off-black: #37535a;
$off-white: #ddddda;
$dark-green: #4a707a;
$green: #94b0b7;
$light-cream: #c2c8c5;
$olive: #7697a0;

// spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;